<h1>Sign into Test Login</h1>
<h3><%= @error %></h3>
<%= form_for @user, url: sign_in_path, method: :post do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br/>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br/>
  <%= f.submit 'log in' %>
<% end %>
